#adb_breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}

#adb_breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}

#adb_breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}